@import 'src/scss/variables';

.card {
  border-radius: $card-border-radius;
  color: $white;
  font-family: formula1display-regular, "Source Sans Pro", sans-serif;
  border: none;
  background: #6F6E6EFF;
  background: linear-gradient($card-gradient-degree, rgba(#6F6E6EFF, 1) 0%, rgba(darken(#6F6E6EFF, $gradients-team-darken-percentage), 1) 100%);

  @each $team-name, $gradient-start in $gradients-team {
    &.team-bg-gradient--#{$team-name} {
      background: $gradient-start;
      background: linear-gradient($card-gradient-degree, rgba($gradient-start, 1) 0%, rgba(darken($gradient-start, $gradients-team-darken-percentage), 1) 100%);
    }
  }

  .card-container {
    padding: 20px;
    height: 180px;
    overflow: hidden;
    transition: opacity $transition-timing-function $transition-duration, top $transition-timing-function $transition-duration;

  }

  .driver {
    align-items: center;
  }

  &:hover {
    .card-container {
      cursor: pointer;
    }

    .driver__image {
      cursor: pointer;
      width: 220px;
      height: 220px;
      top: -40px;
    }

    .driver__permanent-number {
      -webkit-text-stroke: 2px rgba($white, .5);
    }
  }

  .driver__code {
    display: none;
  }

  @keyframes winnerHighlight {
    0% {
      border-color: rgba($white, 0.5);
    }
    50% {
      border-color: rgba($white, 1);
    }
    100% {
      border-color: rgba($white, 0.5);
    }
  }

  &.driver-card--winner {
    border: 4px solid $white;
    animation: winnerHighlight $transition-duration*10 $transition-timing-function infinite;
  }


  &.driver-card--small {
    height: 100px;
    border-radius: ($card-border-radius/2);

    .points__container,
    .constructor-logo,
    .driver__permanent-number,
    .divider {
      display: none;
    }


    .driver__image {
      height: 80px;
      width: 80px;
    }

    .driver__code {

    }

    &:hover {
      .driver__image {
        top: -30px;
      }
    }

  }

}

.constructor-logo {
  height: 50px;
  width: 50px;
}

.divider {
  height: 40px;
}

.driver-name__container {

  padding-left: 20px;

  .driver-name__given {
    font-size: 12px;
  }

  .driver-name__family {
    font-family: $font-formula1-bold;
    font-size: 22px;
  }
}

.points__container {
  position: absolute;
  bottom: 15px;

  .points__position {
    font-size: 10px;
  }

  .points__allocated {
    font-family: $font-formula1-wide;
  }
}

.driver__permanent-number {
  -webkit-text-stroke: 2px rgba(#FFF, .1);
  font-family: $font-formula1-bold;
  font-size: 110px;
  position: absolute;
  bottom: -35px;
  left: 95px;
  color: rgba($white, 0);
  transition: $transition;
}

.driver__image {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  border-radius: $card-border-radius;
  right: 0;
  top: -20px;
  transition: all $transition-duration $transition-timing-function;
  width: 200px;
  height: 200px;
}

.driver__code {
  text-align: center;
}


