<div class="card team-bg-gradient--{{teamConstructor}}" [ngClass]="classes">
  <div class="card-container">
    <div class="driver d-flex">
<!--      <div class="constructor-logo">-->
<!--        {{constructorLogo}}-->
<!--      </div>-->
      <div class="divider divider--vertical"></div>
      <div class="driver-name__container">
        <div class="driver-name__given">{{driver.givenName}}</div>
        <div class="driver-name__family">{{driver.familyName}}</div>
      </div>
    </div>

    <div class="points__container" *ngIf="poll">
      <div class="points__position">{{poll.position | ordinal}} - {{poll.status}}</div>
      <div class="points__allocated">{{poll.points}}</div>
    </div>

    <div class="driver__permanent-number">{{driver.permanentNumber}}</div>
  </div>
  <div class="driver__image" style="background-image: url('{{driverImage}}')"></div>
  <div class="driver__code">{{driver.code}}</div>
</div>
