<p>nav-component works!</p>


<nav class="">
  <div class="grid">
    <div class="logo g-col-1">
      <img src="/assets/images/f1-logo.svg" alt="F1 Logo">
    </div>
    <div class="g-col-8">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="">Races</a></li>
        <li class="nav-item"><a class="nav-link" href="">Drivers</a></li>
        <li class="nav-item"><a class="nav-link" href="">Teams</a></li>
      </ul>
    </div>

    <div class="g-col-3">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="">Sign in</a></li>
        <li class="nav-item"><a class="nav-link" href=""> = </a></li>
      </ul>
    </div>
  </div>
  <div></div>
</nav>
