@import '../../../scss/variables';

.season-nav {
  background: $white;
  border-radius: $border-radius;
  color: $black;
  margin: 20px 0 50px;
  padding: 0 10px;

  &__label {
    font-family: $font-formula1-bold;
    padding: $default-padding;
  }

  &__item {
    font-family: $font-formula1-regular;
    padding: $default-padding;
    transition: all $transition-duration/1.5 $transition-timing-function;
    background-image: linear-gradient(to right, white 50%, black 50%);
    background-size: 200% 100%;

    &:hover, &.active {
      background-position: -100% 100%;
      color: $white;
    }
  }

  &__logo {

      display: inline-block;
      width: 50px;
      background: no-repeat center url("/assets/images/f1-logo.svg");
      background-size: 50px;
      transition: $transition;

      &:hover {
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
      }

  }

}
