<div class="row">


  <div class="season-nav d-flex">
    <div class="d-flex">
      <div class="season-nav__logo" (click)="changeTheme()"></div>
      <div class="d-none d-md-flex">
        <div class="season-nav__label">Season:</div>
        <a routerLink="/season/{{season}}" routerLinkActive="active" class="season-nav__item"
           *ngFor="let season of seasons">
          {{season}}
        </a>
      </div>
      <div class="d-md-none d-sm-flex">
        <mat-form-field appearance="fill">
          <mat-label>Season</mat-label>
          <mat-select [formControl]="toppings" (selectionChange)="routeToNavItem($event)">
            <mat-option *ngFor="let season of seasons" [value]="season">{{season}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


  </div>
</div>
