<div class="card">
  <div class="round-label-container">
    {{roundLabelString}}
  </div>

  <div class="flag-container">
    <div class="flag-icon" [ngClass]="'flag-icon-' + countryCode" >

    </div>
  </div>

  <div class="race-details-container">
    <div class="race__date">{{ concatenateDate(race.date, race.time) | date : 'EEEE, dd MMMM YYYY h:mm a'}}</div>
    <div class="race__name">{{race.raceName}}</div>
    <div class="race__circuit">{{race.Circuit.circuitName}}</div>
  </div>

  <div class="winners-circle" *ngIf="pollPositions.length">
    <div class="container">
        <h2 class="h5">Poll Positions</h2>
          <app-driver-card type="small" class="col-xs-12 m-sm-5 col-md-4" *ngFor="let poll of pollPositions"
                           [poll]="poll"></app-driver-card>
    </div>
  </div>

</div>
