@import "src/scss/variables";

.card {
  background: none;
  border-radius: 0 $card-border-radius $card-border-radius;
  border: 1px solid $white;
  padding: 30px $default-padding;
  position: relative;
  transition: $transition;

  .winners-circle {
    margin-top: 25px;
    padding-top: 5px;
    border-top:  1px solid $white;
    transition: $transition;
    h2 {
      margin-bottom:  30px;
    }
  }

  &:hover {
    background: white;
    color: $black;
    cursor: pointer;

    .round-label-container {
      background: $white;
      color: $black;
      border: 1px solid rgba($black, 1);
    }

    .winners-circle {
      border-color: $black;
    }
  }

}

.round-label-container {
  background: $body-bg;
  font-family: $font-formula1-wide;
  font-size: 14px;
  padding: $default-padding;
  position: absolute;
  top: -20px;
  left: -1px;
  border-radius: $border-radius;
  border: 1px solid rgba($black, 0);
  transition: $transition;
}

.flag-container {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 1px solid rgba($white, 0.4);
  overflow: hidden;
  position: absolute;
  right: $default-padding;
  top: 10px;

  .flag-icon {
    line-height: 50px;
    width: 50px;
    background-position: -5px 0px;
  }
}
