<div *ngIf="!race">
  <div class="error">
    <div class="error--label">No Data</div>
    <div class="error__description">
      There is no data provided
    </div>
  </div>
</div>

<div class="race-details" *ngIf="race">
  <h1>{{race.raceName}}</h1>

  <div class="mb-10 race-meta">
    <div>{{race.Circuit.Location.locality}}/{{race.Circuit.Location.country}}</div>
    <div class="mt-2"><span class="race-meta__label">Season:</span> {{race.season}}</div>
    <div><span class="race-meta__label">Race:</span> {{race.round}}</div>
    <div><span class="race-meta__label">Date:</span> {{localDateTime()}}</div>
    <div><span class="race-meta__label">Season Winner:</span> {{seasonWinner.permanentNumber}} &mdash; {{seasonWinner.givenName}} {{seasonWinner.familyName}}</div>
  </div>

  <div class="polls mt-5">
    <div class="row">
      <app-driver-card class="col-xs-12 mt-4 mt-md-5 col-md-6 col-xl-4" *ngFor="let result of race.Results" [poll]="result" [winner]="seasonWinner"></app-driver-card>
    </div>
  </div>

</div>
