@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
@import "fonts/formula1/stylesheet.css";
@import 'scss/variables';
@import "scss/mixins";
@import '~bootstrap/scss/bootstrap';
@import 'assets/flags/sass/flag-icon';

body {
  transition: $transition;
}

.divider {
  background: $divider-color;
  display: block;
  width: $divider-width;
}

#f1-logo {
  width: 500px;
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.loader {
  height: 80vh;
  transition: $transition;

  &__logo {
    $logo-size: 500px;
    display: block;
    width: $logo-size;
    height: 200px;
    background: no-repeat url("/assets/images/f1-logo.svg");
    background-size: $logo-size;
    animation: fadeIn $transition-duration*10 $transition-timing-function infinite;
  }

  &.hide, &.complete {
    height: 0;

    .loader__logo {
      display: none;
    }
  }

}

body {
  &.light {

    background: lighten($body-bg, $theme-contrast-percentage);
    color: darken($body-color, $theme-contrast-percentage);

    .card {
      border-color: darken($card-border-color, $theme-contrast-percentage);

      @keyframes winnerHighlight {
        0% {
          border-color: rgba($black, 0.5);
        }
        50% {
          border-color: rgba($black, 1);
        }
        100% {
          border-color: rgba($black, 0.5);
        }
      }

      &.driver-card--winner {
        border-color: $black;
      }
    }

    .round-label-container {
      border-color: $black;
      background: $white;
      color: $black;
    }

    .season-nav {
      border: 1px solid $black
    }

  }
}
