// Bootstrap grid options
$enable-grid-classes: true;
$enable-cssgrid: true;

// General Config Variable
$body-color: #fff;
$white: #fff;
$black: rgb(0, 5, 5);
$body-bg: $black;
$theme-contrast-percentage: 99%;

// Gradients
$gradients-team: (
  'mercedes': #00d2be,
  'red-bull':#0600ef,
  'red_bull':#0600ef,
  'mclaren': #FF9800,
  'ferrari': #dc0000,
  'alpine': #0090ff,
  'alpha-tauri': #2b4562,
  'alpha_tauri': #2b4562,
  'alphatauri': #2b4562,
  'aston_martin': #006f62,
  'williams': #005aff,
  'alfa-romeo': #900000,
  'alfa_romeo': #900000,
  'haas': #ffffff,
  'racing_point': #0090ff,
);
$gradients-team-darken-percentage: 50%;

//Border Radiuses
$border-radius: 10px;
$card-border-radius: 20px;

// Typoraphy
$font-family-base: 'Titillium Web', Helvetica, Arial, sans-serif;
$font-formula1-normal: formula1display-regular, sans-serif;
$font-formula1-regular: $font-formula1-normal;
$font-formula1-bold: formula1display-bold, sans-serif;
$font-formula1-wide: formula1display-wide, sans-serif;
$font-formula1-black: formula1display-black, sans-serif;
$font-weight-lighter: 200;
$font-weight-bolder: 900;

$headings-font-family: $font-formula1-bold;

// Links
$link-color: $black;
$link-decoration: none;

// Cards
$card-gradient-degree: 167deg;
$card-border-color: $white;

// Divider
$divider-width: 2px;
$divider-color: rgba($white, .5);

// Animations & Transitions
$transition-timing-function: ease-in-out;
$transition-duration: 250ms;
$transition: all $transition-duration $transition-timing-function;

// Spacing
$default-padding: 10px;
